// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use "color" as *;

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  --radius-small: 3px;
  --radius-large: 6px;
  --gap-default: 2rem;
  --font-measure: 70ch;
  --font-family-default: "Barlow", sans-serif;
  --font-family-special: "Barlow", sans-serif;
  --font-color: var(--neutral-100);
  --action-color: var(--secondary-500);
  --background: var(--neutral-100);
  --primary-background: var(--primary-100);
  --neutral-background: var(--neutral-200);
  --dark-text: hsl(229, 25%, 31%);
  --action-text: hsl(349, 70%, 56%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --small-badge-inner: 90px;
  --small-badge-outer: 120px;
  --large-badge-inner: 120px;
  --large-badge-outer: 150px;
  --huge-badge-inner: 230px;
  --huge-badge-outer: 300px;
}