---
import '../assets/scss/globals.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
let subtitle = 'Accessible Astro Starter'
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&display=swap" rel="stylesheet">

    <!-- open graph -->
    <meta property="og:title" content="Play a game of Rock, Paper, Scissors, Lizard, Spock">
    <meta property="og:description" content="Frontend Mentor challenge Rock, Paper, Scissors game using CSS Flexbox and Grid, Accessibility best practices, CSS Animations to make the game more interactive and vanilla JavaScript for the game logic.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://markteekman.github.io/rock-paper-scissors-game/">
    <meta property="og:image" content="./social-preview-image.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  // sticky footer on low content pages
  html,
  body {
    height: 100%;
    overflow-x: hidden;
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  }

  body {
    display: flex;
    flex-direction: column;

    main {
      flex: 1 0 auto;
    }

    footer {
      flex-shrink: 0;
    }
  }
</style>
